{% extends "base.html" %}

{% block title %}
Hello!
{% endblock %}

{% block content %}
</br>
    <form action="/list" method="get">
            <input type="submit" value="<< Back to list">
        </form>

</br>
<h3>Adding new repository</h3>
<p>Type full name of the Repository</p>
<p>For example: 'maddevsio/heimdall'</p>
</br>
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save" />

</form>




<p>{{err}}</p>
<p>{{error}}</p>
<p>{{success}}</p>

{% endblock %}